<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="header">
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a th:href="@{/home}" class="brand-logo">Car Sales</a>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a th:href="@{/home}">Home</a>
                        </li>
                        <li>
                            <a th:href="@{/editor}">Add</a>
                        </li>
                        <li>
                            <a th:href="@{/cars}">Cars</a>
                        </li>
                        <li sec:authorize="isAnonymous()">
                            <a th:href="@{/login}" id="signIn">Sign in</a>
                        </li>
                        <li sec:authorize="isAuthenticated()" id="signOut">
                            <a th:href="@{/logout}">Sign out</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</body>
</html>