<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div th:fragment="navbar">
        <nav>
            <div class="nav-wrapper">
                <form th:action="@{/home}" method="get">
                    <div class="input-field">
                        <input id="search" type="search" size="100" name="search" required>
                        <label class="label-icon" for="search">
                            <i class="material-icons">search</i>
                        </label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
        </nav>
    </div>

<!--    <div id="search">-->
<!--        <form action="/home" method="get">-->
<!--            <input type="text" size="50" name="search_criteria">-->
<!--            <input type="submit" value="Search">-->
<!--        </form>-->
<!--    </div>-->

</body>
</html>