<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <title>Car Sales</title>
</head>
<body>

    <div layout:fragment="content">
        <main class="container">
            <div th:if="${cars.isEmpty()}">
                <div class="divider"></div>
                <div class="section">
                    <h4>There is no cars yet :(</h4>
                </div>
            </div>

<!--            <div th:unless="${cars.isEmpty()}">-->
<!--                <div class="divider"></div>-->
<!--                <div class="section">-->
<!--                    <h4>Cars</h4>-->
<!--                    <div th:each="car : ${cars}">-->
<!--                        <p th:text="${car.brand}">brand</p>-->
<!--                        <p th:text="${car.model}">model</p>-->
<!--                        <p th:text="${car.build}">build year</p>-->
<!--                        <p th:text="${car.kilometers}">kilometers</p>-->
<!--                        <p th:text="${car.person.username}">person</p>-->
<!--                        <p><a th:href="@{|/cars/${car.id}/details|}">details</a></p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

            <div class="row">
                <div th:unless="${cars.isEmpty()}">
                    <div id="cars" th:each="car : ${cars}">
                        <div class="col s4">
                            <div class="card">
                                <div class="card-image">
                                    <img th:src="@{images/vehicle.jpg}"
                                         alt="car">
                                    <a th:href="@{|/cars/${car.id}/details|}" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">mode_edit</i></a>
                                </div>
                                <div class="card-content">
                                        <span class="card-title">
                                            <span th:text="${car.brand} + ' ' + ${car.model} + ' ' + ${car.build.year}">Card Title</span>
                                        </span>
                                    <p th:text="${car.brand}">brand</p>
                                    <p th:text="${car.model}">model</p>
                                    <p th:text="${car.build}">build year</p>
                                    <p th:text="${car.kilometers}">kilometers</p>
                                    <p th:text="${car.person.username}">person</p>
                                    <p th:text="${car.createdAT}">created at</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

</body>
</html>