<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <title>Car Sales</title>
</head>
<body>

    <header>
        <h1><span sec:authentication="name"></span>'s Cars</h1>
    </header>

    <div layout:fragment="content">
        <main>
            <div th:if="${cars.isEmpty()}">
                <p>There is no cars yet :(</p>
            </div>

            <div th:unless="${cars.isEmpty()}">
                <div th:each="car : ${cars}">
                    <p th:text="${car.brand}">brand</p>
                    <p th:text="${car.model}">model</p>
                    <p th:text="${car.build}">build year</p>
                    <p th:text="${car.kilometers}">kilometers</p>
                    <p th:text="${car.person.username}">person</p>
                    <p><a th:href="@{|/cars/${car.id}/details|}">details</a></p>
                    <hr>
                </div>
            </div>
        </main>
    </div>

    <footer></footer>

</body>
</html>