<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script th:src="@{/../../../js/deleteCar.js}"></script>
    <script th:src="@{/../../../js/updateCar.js}"></script>
    <title>Car Sales</title>
</head>
<body>

    <div layout:fragment="content">
        <main class="container">
            <div>
                <div id="putResultDiv"></div>
                <div id="getDeleteResultDiv"></div>

                <form id="carDetailsForm">
                    <h3>Car Details</h3>
                    <div class="input-field" hidden>
                        <label for="id">Id:</label>
                        <input type="text" class="validate" id="id" name="id" th:value="${car.id}">
                    </div>
                    <div class="input-field">
                        <label for="brand">Brand:</label>
                        <input type="text" class="validate" id="brand" name="brand"
                               th:placeholder="${car.brand}" th:value="${car.brand}">
                    </div>
                    <div class="input-field">
                        <label for="model">Model:</label>
                        <input type="text" class="validate" id="model" name="model"
                               th:placeholder="${car.model}" th:value="${car.model}">
                    </div>
                    <div class="input-field">
                        <label for="build">Build year:</label>
                        <input type="text" class="validate" id="build" name="build"
                               th:placeholder="${car.build}" th:value="${car.build}">
                    </div>
                    <div class="input-field">
                        <label for="kilometers">Kilometers:</label>
                        <input type="text" class="validate" id="kilometers" name="kilometers"
                               th:placeholder="${car.kilometers}" th:value="${car.kilometers}">
                    </div>
                    <div class="left-align">
                        <button type="submit" class="waves-effect waves-light btn">Update</button>
                    </div>
                </form>
                <div>
                    <div class="right-align">
                        <button id="deleteCar" class="waves-effect waves-light btn red">Remove</button>
                    </div>
                </div>
            </div>
        </main>
    </div>

</body>
</html>