<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/styles.css}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script th:src="@{/../../../js/delete.js}"></script>
    <title>Car Sales</title>
</head>
<body>

<header>
    <h1>Details</h1>
</header>

<nav>
    <ul>
        <li><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/editor}">Editor</a></li>
        <li><a th:href="@{/cars}">Cars</a></li>
    </ul>
</nav>

<main>
    <article>
        <span>Brand: </span>
        <span th:text="${car.brand}"></span>
        <br>

        <span>Model: </span>
        <span th:text="${car.model}"></span>
        <br>

        <span>Build year: </span>
        <span th:text="${car.build}"></span>
        <br>

        <span>Kilometers: </span>
        <span th:text="${car.kilometers}"></span>
        <br>

        <div>
            <a th:href="@{/cars/} + ${car_id} + @{/update}">Update</a>
        </div>

        <div>
            <!--<a th:href="@{/cars/editor/delete/} + ${car_id}">Remove</a>-->
            <button id="deleteCar">Remove</button>
        </div>

        <div id="getResultDiv">

        </div>
    </article>
</main>

<footer></footer>

</body>
</html>