<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/styles.css}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <!--<script th:src="@{js/save.js}"></script>-->
    <script th:href="@{/../../../js/update.js}"></script>

    <title>Car Sales</title>
</head>
<body>

<header>
    <h1>Editor</h1>
</header>

<nav>
    <ul>
        <li><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/editor}">Editor</a></li>
        <li><a th:href="@{/cars}">Cars</a></li>
    </ul>
</nav>

<main>

    <div>

        <div id="postResultDiv" align="center"></div>

        <form id="carForm">
            <div class="form-group">
                <label for="brand">Brand:</label>
                <input type="text" class="form-control" id="brand" placeholder="Skoda" name="brand" th:value="${car.brand}">
            </div>

            <div class="form-group">
                <label for="model">Model:</label>
                <input type="text" class="form-control" id="model" placeholder="Rapid" name="model"  th:value="${car.model}">
            </div>

            <div class="form-group">
                <label for="build">Build year:</label>
                <input type="text" class="form-control" id="build" placeholder="2018" name="build"  th:value="${car.build}">
            </div>

            <div class="form-group">
                <label for="kilometers">Kilometers:</label>
                <input type="text" class="form-control" id="kilometers" placeholder="1233" name="kilometers"  th:value="${car.kilometers}">
            </div>

            <button type="submit">Publish</button>
        </form>

    </div>

</main>

<footer></footer>

</body>
</html>