<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/styles.css}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
<!--    <script th:src="@{js/getCars.js}"></script>-->
    <script th:src="@{js/switchLang.js}"></script>

    <title>Car Sales</title>
</head>
<body>

    <div layout:fragment="content">
        <main>
<!--            <div id="message">-->
<!--                <h3 th:text="${name}">Name</h3>-->
<!--                <h5 th:text="#{greeting.user}">Greeting</h5>-->
<!--                <br>-->
<!--                <span th:text="#{lang.change}">Language</span>:-->
<!--                <select id="locales" style="display: block">-->
<!--                    <option value=""></option>-->
<!--                    <option value="en" th:text="#{lang.eng}">English</option>-->
<!--                    <option value="ru" th:text="#{lang.ru}">Russian</option>-->
<!--                </select>-->
<!--            </div>-->

            <div id="filter" class="row">
                <div id="filter_form" class="col s12">
                    <form th:action="@{/home}" th:object="${criteria}" method="get">
                        <div id="brands" class="input-field col s4">
                            <select id="brand_select" th:field="*{brand}">
                                <option value="" selected>Brand</option>
                                <option th:each="b : ${brands}" th:value="${b.name}" th:text="${b.name}">Brand Option</option>
                            </select>
                            <label for="brand_select">Brands</label>
                        </div>

                        <div class="right-align">
                            <button type="submit" id="player-filter-btn" class="waves-effect waves-light btn">Фильтровать</button>
                        </div>
                    </form>
                </div>
            </div>

            <div th:if="${cars.isEmpty()}">
                <h4>There is no cars yet :(</h4>
            </div>

            <div th:unless="${cars.isEmpty()}">
                <div id="cars" th:each="car : ${cars}">
                    <img th:src="@{images/vehicle.jpg}"
                         alt="car"
                         height="200"
                         width="200">
                    <p th:text="${car.brand}">brand</p>
                    <p th:text="${car.model}">model</p>
                    <p th:text="${car.build}">build year</p>
                    <p th:text="${car.kilometers}">kilometers</p>
                    <p th:text="${car.person.username}">person</p>
                    <hr>
                </div>
            </div>

<!--            <div>-->
<!--                <button id="getCars">get cars, now!!!</button>-->

<!--                <div id="getResultDiv">-->
<!--                    <ul class="list-group">-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->

        </main>
    </div>

</body>
</html>