<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            M.FormSelect.init(elems, options);
        });
    </script>
<!--        <script th:src="@{js/getCars.js}"></script>-->
<!--    <script th:src="@{js/switchLang.js}"></script>-->
    <title>Car Sales</title>
</head>
<body>

    <div layout:fragment="content">
        <main class="container">
<!--            <div id="message">-->
<!--                <h3 th:text="${name}">Name</h3>-->
<!--                <h5 th:text="#{greeting.user}">Greeting</h5>-->
<!--                <br>-->
<!--                <span th:text="#{lang.change}">Language</span>:-->
<!--                <select id="locales" style="display: block">-->
<!--                    <option value=""></option>-->
<!--                    <option value="en" th:text="#{lang.eng}">English</option>-->
<!--                    <option value="ru" th:text="#{lang.ru}">Russian</option>-->
<!--                </select>-->
<!--            </div>-->

            <div id="filter">
                <div id="search_form" class="nav-wrapper">
                    <form th:action="@{/home}" method="get">
                        <div class="input-field">
                            <input id="search" type="search" name="search">
                            <label class="label-icon" for="search">
                                <i class="material-icons">search</i>
                            </label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </div>
                <div id="filter_form" class="row">
                    <form th:action="@{/home}" th:object="${car_criteria}" method="get">
                        <div class="input-field col s6">
                            <input id="brand" type="text" class="validate" th:field="*{brand}">
                            <label for="brand">Brand</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="model" type="text" class="validate" th:field="*{model}">
                            <label for="model">Model</label>
                        </div>
<!--                        <div id="brands" class="input-field col s4">-->
<!--                            <select id="brand_select" th:field="*{brand}">-->
<!--                                <option value="" selected>Brand</option>-->
<!--                                <option th:each="b : ${brands}" th:value="${b.name}" th:text="${b.name}">Brand Option</option>-->
<!--                            </select>-->
<!--                            <label for="brand_select">Brands</label>-->
<!--                        </div>-->
                        <div class="input-field col s4">
                            <select id="sort_select" th:field="*{sort}" style="display: block">
                                <option value="createdAt" selected>Created at</option>
                                <option value="kilometers">Kilometers</option>
                                <option value="build">Build</option>
                            </select>
                            <label for="sort_select">Sort by</label>
                        </div>
                        <div class="right-align">
                            <button type="submit" id="player-filter-btn" class="waves-effect waves-light btn">Filter</button>
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <div th:if="${cars.isEmpty()}">
                    <div class="divider"></div>
                    <div class="section">
                        <h4>There is no cars that matches your search criteria</h4>
                    </div>
                </div>
                <div class="row">
                    <div th:unless="${cars.isEmpty()}">
                        <div id="cars" th:each="car : ${cars}">
                            <div class="col s4">
                                <div class="card">
                                    <div class="card-image">
                                        <img th:src="@{images/vehicle.jpg}"
                                             alt="car">
                                        <a th:href="@{|/cars/${car.id}/details|}" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title">
                                            <div class="card-title activator grey-text text-darken-4">
                                                <span th:text="${car.brand} + ' ' + ${car.model} + ' ' + ${car.build.year}">
                                                    Card Title
                                                </span>
                                                <span>
                                                    <i class="material-icons right">more_vert</i>
                                                </span>
                                            </div>
                                        </span>
                                        <p th:text="${car.kilometers}">kilometers</p>
                                        <p th:text="${car.person.username}">person</p>
                                        <p th:text="${car.createdAt}">created at</p>
                                    </div>
                                    <div class="card-reveal">
                                        <div class="card-title grey-text text-darken-4">
                                            <span th:text="${car.brand} + ' ' + ${car.model} + ' ' + ${car.build.year}">
                                                Card Title
                                            </span>
                                            <span>
                                                <i class="material-icons right">close</i>
                                            </span>
                                        </div>
                                        <p th:text="${car.description}">description</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <ul class="pagination">
                    <th:block th:if="${active_page != 0}">
                        <li th:if="${car_criteria.brand != null && car_criteria.model != null}">
                            <a th:href="@{|/home?brand=${car_criteria.brand}&model=${car_criteria.model}&page=${active_page - 1}&sort=${car_criteria.sort}|}">
                                <i class="material-icons">chevron_left</i>
                            </a>
                        </li>
                        <li th:unless="${car_criteria.brand != null && car_criteria.model != null}">
                            <a th:href="@{|/home?page=${active_page - 1}&sort=${car_criteria.sort}|}">
                                <i class="material-icons">chevron_left</i>
                            </a>
                        </li>
                    </th:block>
                    <th:block th:each="page_number, iter : ${page_indexes}" th:with="
                              left_terminator=${active_page > view_range/2 + 1 ? (active_page > page_indexes.size() - view_range/2 ? page_indexes.size() - view_range  : active_page - (view_range/2 + 1) ) : 0},
                              right_terminator=${left_terminator + view_range + 1 }">
                        <th:block th:if="${ left_terminator < iter.count && iter.count < right_terminator}">
                            <li th:classappend="${active_page == page_number - 1} ? active : waves-effect ">
                                <a th:if="${car_criteria.brand != null && car_criteria.model != null}"
                                   th:href="@{|/home?brand=${car_criteria.brand}&model=${car_criteria.model}&page=${page_number - 1}&sort=${car_criteria.sort}|}"
                                   th:text="${page_number}"></a>
                                <a th:unless="${car_criteria.brand != null && car_criteria.model != null}"
                                   th:href="@{|/home?page=${page_number - 1}&sort=${car_criteria.sort}|}"
                                   th:text="${page_number}"></a>
                            </li>
                        </th:block>
                    </th:block>
                    <th:block th:if="${active_page < page_indexes.size() - 1}">
                        <li th:if="${car_criteria.brand != null && car_criteria.model != null}">
                            <a th:href="@{|/home?brand=${car_criteria.brand}&model=${car_criteria.model}&page=${active_page + 1}&sort=${car_criteria.sort}|}">
                                <i class="material-icons">chevron_right</i>
                            </a>
                        </li>
                        <li th:unless="${car_criteria.brand != null && car_criteria.model != null}">
                            <a th:href="@{|/home?page=${active_page + 1}&sort=${car_criteria.sort}|}">
                                <i class="material-icons">chevron_right</i>
                            </a>
                        </li>
                    </th:block>
                </ul>
            </div>
<!--            <div>-->
<!--                <button id="getCars">get cars, now!!!</button>-->

<!--                <div id="getResultDiv">-->
<!--                    <ul class="list-group">-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->

        </main>
    </div>

</body>
</html>