<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link th:href="@{/css/login.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"></script>
    <title>Car Sales</title>
</head>
<body>
    <main>
        <div id="registrationFormDiv" class="login-form">
            <form id="registrationForm" method="post" th:action="@{/registration}" th:object="${user}">
                <h3>Registration</h3>
                <div th:if="${param.success}">
                    <div class="alert alert-info">You've successfully registered!</div>
                </div>
                <div th:if="${param.error}">
                    <div class="alert alert-danger">Please correct the form bellow.</div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('username')}? 'has-error':''">
                    <p class="error-message alert alert-danger" th:each="error: ${#fields.errors('username')}" th:text="${error}">
                        Username validation error
                    </p>
                    <label for="username">Username</label>
                    <input type="text" id="username" class="form-control" th:field="*{username}"
                           title="username should be at least 4 characters long"
                           required minlength="4" maxlength="30">
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                    <p class="error-message alert alert-danger" th:each="error: ${#fields.errors('email')}" th:text="${error}">
                        Email validation error
                    </p>
                    <label for="email">Email</label>
                    <input type="email" id="email" class="form-control"
                           th:field="*{email}"
                           required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" class="form-control"
                           th:field="*{password}"
                           title="The password should have at least one upper case, one lower case, one special char
                           and length should be 10 characters long"
                           required pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*?[#?!@$%^&*-]).{10,128}$">
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" id="confirmPassword" class="form-control"
                           th:field="*{confirmPassword}"
                           title="The password should have at least one upper case, one lower case, one special char
                           and length should be 10 characters long"
                           required pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*?[#?!@$%^&*-]).{10,128}$">
                </div>
                <div class="form-group">
                    <button type="submit" id="signupButton" class="btn btn-success btn-block">Sign up</button>
                </div>
            </form>
            <br>
            <div>
                <p class="text-center"><a th:href="@{/login}" class="text-primary">Already have an account? Sign In.</a></p>
            </div>
        </div>
    </main>
    <script>
        let password = document.getElementById("password");
        let confirm_password = document.getElementById("confirmPassword");

        function validatePassword(){
            if(password.value !== confirm_password.value) {
                confirm_password.setCustomValidity("passwords don't match");
            }
            else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>
</body>
</html>